<!-- important meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="screen-orientation" content="portrait">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="144x144" href="/static/img/favicon.ico">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content=""/>
<link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico">

<!-- desc and title -->
<meta name="keywords" content="论坛, 讨论, 社区">
<meta name="description" content="网站描述">

<!-- favicon.ico -->
<link href="/static/img/favicon.ico" type="image/x-icon" rel="bookmark"/>
<link href="/static/img/favicon.ico" type="image/x-icon" rel="icon"/>
<link href="/static/img/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
